<div data-region="search-result-header">
    {{#search_result_str}}
        <div class="mt-3">
            <h5 class="mb-0">{{search_result_str}}</h5>
            <a data-action="kaltura-clear-search" href="#">&times {{#str}}search_filter_clear, local_kaltura{{/str}}</a>
        </div>
    {{/search_result_str}}
</div>

<div data-region="paging-bar">
    {{> local_kaltura/kaltura_paging_bar }}
</div>

{{#has_ce}}
    <nav class="nav nav-tabs">
        <a class="nav-link {{#source}}active{{/source}}" data-action="switch-tab" data-source="1" data-toggle="tab" href="#">
            {{#str}}kaltura_prem_hdr, local_kaltura{{/str}}
        </a>
        <a class="nav-link {{^source}}active{{/source}}" data-action="switch-tab" data-source="0" data-toggle="tab" href="#">
            {{#str}}kaltura_ce_hdr, local_kaltura{{/str}}
        </a>
    </nav>
{{/has_ce}}

<div class="kaltura-entry-list" data-region="entry-list">
    {{> local_kaltura/kaltura_entry_list }}
</div>

<div data-region="paging-bar">
    {{> local_kaltura/kaltura_paging_bar }}
</div>
