{{< core/modal }}

    {{$classes}} modal-xl modal-dialog-scrollable {{/classes}}

    {{$title}}
        {{#str}}modal_header, local_kaltura{{/str}}
    {{/title}}

    {{$body}}
    {{/body}}

    {{$footer}}
        <h5 class="text-truncate" data-region="selected_entry_name">{{#str}}no_selected_entry, local_kaltura{{/str}}</h5>
        <button class="btn btn-primary" data-action="confirm-entry-selection" disabled>{{#str}}confirm, core{{/str}}</button>
    {{/footer}}

{{/ core/modal }}
